* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
body {
  width: 100%;
  height: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  background-image: url("https://wallpapers.com/images/hd/avengers-doomsday-logo-reveal-ho4k22ggffspbjrt.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1 {
  font-size: 5rem;
}
.container p {
  font-size: 1.2rem;
}

.clock-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  backdrop-filter: blur(12px);
  border-radius: 100%;
}

.clock-container img {
  width: 20rem;
  height: 20rem;
  filter: invert();
  position: relative;
}
.hands {
  height: 2%;
  width: 50%;
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform-origin: 0;
}
#hour {
  width: 35%;
  background-color: #266d3d;
  z-index: 10;
  transform: translateY(-50%) rotate(-70deg);
}
#second {
  width: 50%;
  height: 1%;
  background-color: #329052;
  transform: translateY(-50%) rotate(-10deg);
}
#minute {
  width: 50%;
  background-color: #205c34;
  z-index: 9;
  transform: translateY(-50%) rotate(-90deg);
}

.digital-clock {
  margin-top: 2rem;
  display: flex;
  gap: 30px;
  font-size: 30px;
}
